{% extends 'Turismo/base.html' %}
{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form action="" method="" class="row g-3">
                    <h4>Mi Perfil</h4>

                <div class="row">
                <div class="column">
                    <div class="col-12">
                        <label>Nombre</label>
                        <input type="text" name="username" class="form-control" placeholder="Ingrese Nombre">
                    </div>

                    <div class="col-12">
                        <label>Apellido Paterno</label>
                        <input type="text" name="username" class="form-control" placeholder="Ingrese su Rut">
                    </div>

                    <div class="col-12">
                        <label>Apellido Materno</label>
                        <input type="text" name="username" class="form-control" placeholder="Ingrese su Rut">
                    </div>
                </div>

                <div class="column">

                    <div class="col-12">
                        <label>Rut</label>
                        <input type="text" name="username" class="form-control" placeholder="Ingrese su Rut">
                    </div>

                    <div class="col-12">
                        <label>Email</label>
                        <input type="text" name="username" class="form-control" placeholder="Ingrese su Rut">
                    </div>

                    <div class="col-12">
                        <label>Direccion</label>
                        <input type="text" name="username" class="form-control" placeholder="Ingrese su Rut">
                    </div>
                </div>

                <div class="column">

                    <div class="col-12">
                        <label>Celular</label>
                        <input type="text" name="username" class="form-control" placeholder="Ingrese su Rut">
                    </div>

                    <div class="col-12">
                        <label>Contraseña</label>
                        <input type="password" name="password" class="form-control" placeholder="Ingrese su contraseña">
                    </div>
                    
                    <div class="col-lg-7">
                        <button type="submit" class="btn btn-dark float-end">Aceptar</button>
                    </div>
                </div>
                </div>
                </form>

                
                <div class="col-12">
                    <p class="text-center mb-0">¿Olvidaste tu contraseña? <a href="#">Recuperar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<table id="tablacontactos">
    
</table>

{% endblock %}